*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body,
.root {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-family: 'Lora', serif;
  font-size: 8px;
  font-weight: 300;
  line-height: 1;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,.8);
}

body {
  overflow: hidden
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  font-size: 1em;
}

a,
a:visited {
  color: inherit;
    text-decoration: none;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.6) 50%,rgba(0,0,0,0) 50%);
  background-repeat: repeat-x;
  background-size: 2px .1em;
  background-position: 0 1.07em;
}

p + * {
  padding-top: 1em;
}

strong, b {
  font-weight: 700
}

em, i {
  font-style: italic
}

ul {
  list-style-type: none;
}

abbr {
  border-bottom: 1px dotted #333;
}
